<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            tr{
                text-align: center;
            }

            td,th{
                height: 50px;
                font-size: large;
            }
            th{
                background-color: #2a2a2a;
                color: beige;
            }
        </style>
    </head>
    <body>
        <div class="container">
        <table>
            <tr>
                <th>Invoice</th>
            </tr>
        </table>

        <br>
        <h6>Invoice : #FMK</h6>
        <h6>Invoice date : {{created_at}}</h6>

        <br>
        <h6>From:</h6>
        <span>Family Mart</span><br>
        <span>Kadavathur</span><br>
        <span>Kannur</span><br>
        <span>Phone: 984712365</span><br>
        <span>Email:fmartkdvr@gmail.com</span><br>

        <br>
        <h6>To:</h6>
        <span>{{name}}</span><br>
        <span>{{address}}</span><br>
        <span>{{email}}</span><br>
        <span>{{mobile}}</span><br><br><br>
       
        <table style="width:100%; border-collapse:collapse;" >
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Total</th>
            </tr>

            <tr>
                <td style="height: 100px;">{{product}}</td>
                <td style="height: 100px;">{{qty}}</td>
                <td style="height: 100px;">{{taxable_amount}}</td>
            </tr>

            <tr>
                <td></td>
                <td style="text-align: right;"><b>Tax :</b></td>
                <td style="text-align: center;">{{tax_amount}}</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right;"><b>Total :</b></td>
                <td style="text-align: center;"><b>Rs. {{total}}</b></td>
            </tr>

        </table>
    </div>


        <script src="" async defer></script>
    </body>
</html>