{% extends 'base/base.html' %}
{% load static %}
{%block start %}
<!--password area-->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top: 100px;">
                <div class="section-heading" style="text-align: center;">
                    <h2>Change Password</h2>
                    <span></span>
                </div>
                <form id="contact" action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-12"  style="text-align: center;">
                        <fieldset>
                          <input name="current_password" type="password" id="current_password" placeholder="current password" required="" style="width: 300px; " >
                        </fieldset><br>
                        <fieldset>
                            <input name="new_password" type="password" id="password" placeholder="New Password" required="" style="width: 300px; " >
                          </fieldset>
                      </div>
                      
                      <div class="col-lg-12" style="text-align: center; margin-top: 10px;">
                            <fieldset>
                                <button style="width: auto;" type="submit" class="btn btn-dark">Save Changes</button>
                            </fieldset>

                            {% for msg in messages %}
                            <div style="margin-top: 10px;" class="alert alert-secondary" role="alert">
                                {{msg}}
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!--password area ends here-->


{% endblock %}