{% extends 'base/base.html' %}

{% block start %}
<div class="credregister">
    <div class="cred1">
        <div class="textbox">
            <h2>Register</h2>
        </div>
        <form>
            <div class="textbox">
                <input class="input1" type="text" placeholder="First Name"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="text" placeholder="Last Name"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="text" placeholder="Username"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="text" placeholder="Email"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="text" placeholder="Password"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="text" placeholder="Confirm Password"><br>
            </div>
            <div class="textbox">
                <button type="button" class="btn1">Dark</button>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}
