{% extends 'base/base.html' %}

{% block start %}
<div class="credregister">
    <div class="cred1">
        <div class="textbox">
            <h2>Register</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="textbox">
                <input class="input1" type="text" name="first_name" placeholder="First Name"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="text" name="last_name" placeholder="Last Name"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="text" name="username" placeholder="Username"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="text" name="email" placeholder="Email"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="password" name="password" placeholder="Password"><br>
            </div>
            <div class="textbox">
                <input class="input1" type="password" name="password1" placeholder="Confirm Password"><br>
            </div>
            <div class="textbox">
                <button type="submit" class="btn1">Register</button>
            </div>
        </form>
        
    </div>
    {% for msg in messages %}
        <div class="alert alert-dark" role="alert">
            {{msg}}
        </div>
        {% endfor %}
</div>
{% endblock %}
