{% extends 'base/base.html' %}
{% load static %}
{%block start %}


<!-- ***** Contact Area Starts ***** -->
<div class="contact-us"  style="margin-top: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3906.437580217746!2d75.60363907291098!3d11.734192140802373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba42990ff9b60bd%3A0xf4c9d3395c408514!2sFamily%20mart!5e0!3m2!1sen!2sin!4v1692336712101!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                  <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Say Hello. Don't Be Shy!</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
                <form id="contact" action="" method="post">
                {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-6">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your name" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input name="email" type="text" id="email" placeholder="Your email" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="message" rows="6" id="message" placeholder="Your message" required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                      </div>
                      {% for msg in messages %}
                            <div style="margin-top: 10px;" class="alert alert-secondary" role="alert">
                                {{msg}}
                            </div>
                      {% endfor %}
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-8">
                <div class="section-heading">
                    <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your Name" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-2">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                        </fieldset>
                      </div>
                    </div>
                </form>
            </div>-->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Store Location:<br><span>{{store_address.store_location}}</span></li>
                            <li>Phone:<br><span>{{store_address.phone}}</span></li>
                            <li>Office Location:<br><span>{{store_address.office_location}}</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Work Hours:<br><span>{{store_address.work_hours}}</span></li>
                            <li>Email:<br><span>{{store_address.email}}</span></li>
                            <!--<li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->

{% endblock %}