{% extends 'base/base.html' %}
{% load static %}
{%block start %}


<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top: 100px;">
                <div class="section-heading">
                    <h2>For Complaints and Other Queries</h2>
                    <span>Provide your contact details and  matter </span>
                </div>
                <form id="contact" action="" method="post">
                    <div class="row">
                      <div class="col-lg-6">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your name" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input name="email" type="text" id="email" placeholder="Your email" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="message" rows="6" id="message" placeholder="Your message" required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->


{% endblock %}