{% extends 'base/base.html' %} {% block start %} {% load static %}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <div class="thumb">
            <div class="inner-content">
              <h4>We Are Family Mart</h4>
              <span
                >t is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
              </span>
              <div class="main-border-button">
                <a href="{% url 'wholeshopview:allProductsView' %}"
                  >Purchase Now!</a
                >
              </div>
            </div>
            <img src="{% static 'images/front-banner.jpg' %}" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            {% for i in type %}
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>{{i.name}}</h4>
                    <span>Best Trend Accessories</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Accessories</h4>
                      <p>{{i.description}}</p>
                      <div class="main-border-button">
                        <a
                          href="{% url 'wholeshopview:typeProductsView' i.slug %}"
                          >Discover More</a
                        >
                      </div>
                    </div>
                  </div>
                  <img src="{{i.image.url}}" />
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Latest Products Area Starts ***** -->
<br />
<br />
<section class="section" id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Our Latest Products</h2>
          <span>Check out all of our latest Items.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for i in latest_products %}
      <div class="col-lg-4">
        <div class="item">
          <div class="thumb">
            <div class="hover-content">
              <ul>
                <li>
                  <a href="{% url 'wholeshopview:singleProductView' i.slug %}"
                    ><i class="fa fa-eye"></i
                  ></a>
                </li>
                <li>
                  <a href="{% url 'cart:add_to_cart' i.id %}"
                    ><i class="fa fa-shopping-cart"></i
                  ></a>
                </li>
              </ul>
            </div>
            <img src="{{i.image.url}}" alt="" width="250" height="300" />
          </div>
          <div class="down-content">
            <h4>{{i.name}}</h4>
            <span>Rs.{{i.price}}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ***** Products Area Ends ***** -->

<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>{{type_men.name}}'s Latest</h2>
          <span>{{type_men.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="men-item-carousel">
          <div class="owl-men-item owl-carousel">
            <!--starts-->
            {% for i in products_men %}
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a
                        href="{% url 'wholeshopview:singleProductView' i.slug %}"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="{% url 'cart:add_to_cart' i.id %}"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{{i.image.url}}" alt="" width="250" height="300" />
              </div>
              <div class="down-content">
                <h4>{{i.name}}</h4>
                <span>Rs. {{i.price}}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Men Area Ends ***** -->

<!-- ***** Women Area Starts ***** -->
<section class="section" id="men">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>{{type_women.name}}'s Latest</h2>
          <span>{{type_women.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="men-item-carousel">
          <div class="owl-men-item owl-carousel">
            <!--starts-->
            {% for i in products_women %}
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a
                        href="{% url 'wholeshopview:singleProductView' i.slug %}"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="{% url 'cart:add_to_cart' i.id %}"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <img src="{{i.image.url}}" alt="" width="200" height="300" />
              </div>
              <div class="down-content">
                <h4>{{i.name}}</h4>
                <span>Rs. {{i.price}}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Women Area Ends ***** -->

<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <h2>Explore Our Products</h2>
          <span
            >Family Mart is your ultimate destination for all things ecommerce.
            Our platform offers a diverse and extensive range of products,
            catering to every member of your family. Family Mart provides a
            seamless online shopping experience that brings the mall to your
            fingertips. With a user-friendly interface, secure payment options,
            and swift nationwide delivery, we strive to make your shopping
            journey convenient and enjoyable.</span
          >
          <div class="quote">
            <i class="fa fa-quote-left"></i>
            <p>
              Discover the convenience of modern shopping at Family Mart, where your family's needs and desires are just a click away.
            </p>
          </div>
          <p>
            From daily essentials to trendy fashion, cutting-edge electronics to delightful toys.
          </p>
          <div class="main-border-button">
            <a href="{% url 'wholeshopview:allProductsView' %}"
              >Discover More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="leather">
                <h4>Leather Bags</h4>
                <span>Latest Collection</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="first-image">
                <img src="{% static 'images/explore-image-01.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="second-image">
                <img src="{% static 'images/explore-image-02.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="types">
                <h4>Different Types</h4>
                <span>Over 304 Products</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Explore Area Ends ***** -->

<!-- ***** Social Area Starts ***** -->
<section class="section" id="social">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Social Media</h2>
          <span>Text text text text.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row images">
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Fashion</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-01.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>New</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-02.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Brand</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-03.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Makeup</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-04.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Leather</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-05.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-2">
        <div class="thumb">
          <div class="icon">
            <a href="http://instagram.com">
              <h6>Bag</h6>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <img src="{% static 'images/instagram-06.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Social Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-heading">
          <h2>Subscribe to know the latest offers</h2>
          <span>For any queries email us </span>
        </div>
        <form id="subscribe" action="" method="get">
          <div class="row">
            <div class="col-lg-5">
              <fieldset>
                <input
                  name="name"
                  type="text"
                  id="name"
                  placeholder="Your Name"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-5">
              <fieldset>
                <input
                  name="email"
                  type="text"
                  id="email"
                  pattern="[^ @]*@[^ @]*"
                  placeholder="Your Email Address"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-2">
              <fieldset>
                <button type="submit" id="form-submit" class="main-dark-button">
                  <i class="fa fa-paper-plane"></i>
                </button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <ul>
              <li>Store Location:<br /><span>Kadavthur</span></li>
              <li>Phone:<br /><span>0490-235689</span></li>
              <li>Office Location:<br /><span>Thalassery</span></li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li>Work Hours:<br /><span>07:30 AM - 9:30 PM Daily</span></li>
              <li>Email:<br /><span>fmartkdvr@gmail.com</span></li>
              <li>
                Social Media:<br /><span
                  ><a href="#">Facebook</a>, <a href="#">Instagram</a>,
                  <a href="#">Behance</a>, <a href="#">Linkedin</a></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->
{% endblock %}
