{% extends 'base/base.html' %}
{% block start %}
<!-- ***** Product Area Starts ***** -->
<br />
<br />
<section class="section" id="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="left-images">
          <img src="{{product.image.url}}" alt=""  width="400" height="600">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="right-content">
          <h4>{{product.name}}</h4>
          <span class="price">Rs.{{product.price}}</span>
          <span
            >{{product.description}}</span
          >
          <div class="quote">
            <i class="fa fa-quote-left"></i>
            <p>
              {{product.description}}
            </p>
          </div>
          <div class="main-border-button"><a href="#">Add To Cart</a></div>
          <div class="total">
            <div class="main-border-button"><a href="#">Add To Cart</a></div>
          </div>
          <div class="quantity-content">
            <div class="left-content">
              <h6>No. of Orders</h6>
            </div>
            <div class="right-content">
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus" /><input
                  type="number"
                  step="1"
                  min="1"
                  max=""
                  name="quantity"
                  value="1"
                  title="Qty"
                  class="input-text qty text"
                  size="4"
                  pattern=""
                  inputmode=""
                /><input type="button" value="+" class="plus" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Product Area Ends ***** -->

{% endblock %}