{% extends 'ecomadmin/base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
      }

      .material-symbols-outlined{
        color:red;
      }


      .panel-primary{
        border:10px solid #2a2a2a;
      }
  
      .panel{
        border:2px solid #2a2a2a;
      }
  




  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div style="background-color:#2a2a2a;" class="panel-heading">
      <h6 class="panel-title">Orders</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
        <th>Customer</th>
          <th>Status</th>
          <th>Order Date</th>
          <th>Delivery Date</th>
          <th>Update</th>
          
        </tr>
      </thead>
      {% for i in orders%}
      <tr>
        <th>{{i.order.user}}</th>
          <th>{{i.status}}</th>
          <th>{{i.created_at}}</th>
          <th>{{i.delivery_date}}</th>
          <th><a href="{% url 'ecomadmin:update_order' i.id %}"><svg style="color:#2a2a2a;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg></a></th>
          
        </tr>
      {% endfor %}
      
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}