{% extends 'ecomadmin/base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
      }

      .material-symbols-outlined{
        color:red;
      }




  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Orders</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
        <th>Customer</th>
          <th>Status</th>
          <th>Order Date</th>
          <th>Delivery Date</th>
          <th>Update</th>
          
        </tr>
      </thead>
      {% for i in orders%}
      <tr>
        <th>{{i.order.user}}</th>
          <th>{{i.status}}</th>
          <th>{{i.created_at}}</th>
          <th>{{i.delivery_date}}</th>
          <th><a href=""><span class="material-symbols-outlined">
            toolbar
            </span></a></th>
          
        </tr>
      {% endfor %}
      
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}