{% extends 'base/base.html' %}

{% block start %}


<div class="container">
       
    <div class="cart">
        <table>
            <tr>
                <th colspan="7" >Your Orders</th>
            </tr>
            <tr style="background-color: beige; color:#2a2a2a;">
                <th colspan="2">Product</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Status</th>
                <th>Delivery</th>
                <th>Details</th>
            </tr>
            {% for i in order_items %}
            <tr>
                <td><img src="{{i.image.url}}" height="100" width="70"></td>
                <td>{{i.product}}</td>
                <td>Qty:{{i.quantity}}</td>
                <td>Total: Rs.{{i.price}}</td>
                <td>Status: {{i.status}}</td>
                <td>{{i.delivery_date}}</td>
                <td>
                    <a href="{% url 'orders:order_detail' i.id %}" style="color:beige;">
                        <i class="fa fa-info-circle" style="margin-right: 20px;" aria-hidden="true"></i>
                    </a>
                    <a href="" style="color:beige;">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
        

    </div>

    

</div>


{% endblock %}