{% extends 'base/base.html' %}

{% block start %}


<div class="container">
       
    <div class="cart">
        {% if order_item %}
        <table>
            <tr>
                <th colspan="6" >Order Tracked Successfully</th>
            </tr>
            <tr style="background-color: beige; color:#2a2a2a;">
                <th colspan="2">Tracked ID: {{order_item.tracking_id}}</th>
                <th colspan="2">Status: {{order_item.status}}</th>
                <th colspan="2">Expected Delivery : {{order_item.delivery_date}}</th>  
            </tr>
        </table>
        {% else %}
        <h1 style="background-color: white; color:#2a2a2a; text-align: center;
        padding-top: 57px; padding-bottom: 58px;">Tracking ID is Invalid</h1>
        {% endif %}

    </div>

    

</div>


{% endblock %}